body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 139, 252, 0.991);
    padding: 5px 25px;
    font-size: x-large;
    -webkit-text-stroke: 1.5px black;
    margin: 1;
    text-align: center;
    .navbar {
     display: flex;
     justify-content: center;
     gap: 40px;
     color:aqua;
     padding: 20px;
     background: rgba(0, 0, 0, 0.7);
    }
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  -webkit-text-stroke: 0px
}

.navbar a:hover {
  text-decoration: underline;
  color: rgb(0, 255, 255);
}
.navbar a{color:rgba(0, 139, 252, 0.991)
}

main{
    color: #00ff80;
    -webkit-text-stroke: 0px
}